<!DOCTYPE html>
<!-- layout 관련 namespace 추가 선언 -->
<lang="ko"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
      
    <head>
        <meta charset="utf-8">
        <title> WebScoop </title>
        <!-- config.html -->
        <th:block th:replace="~{fragments/config::configFragment}" ></th:block>
    </head>
    
    <body class="sb-nav-fixed">
		
	<!-- nav.html -->
	<div th:replace="~{fragments/nav::navFragment}"></div>
    
    <div id="layoutSidenav">
    <!-- sidebar.html -->
	<div th:replace="~{fragments/sidebar::sideFragment}"></div>

	<div id="layoutSidenav_content">

    <div layout:fragment="content"></div>
    
	<!-- footer.html -->
    <footer th:replace="~{fragments/footer::footerFragment}"></footer>
    
	</div>
	
    </div>
    
    <!-- JavaScript Libraries -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.8.0/Chart.min.js" crossorigin="anonymous"></script>
    <script src="assets/demo/chart-area-demo.js"></script>
    <script src="assets/demo/chart-bar-demo.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/simple-datatables@7.1.2/dist/umd/simple-datatables.min.js" crossorigin="anonymous"></script>
    <script src="js/datatables-simple-demo.js"></script>
	
    </body>